<div class="add-user-wrapper">
  <form [formGroup]="loyaltyPointsForm" (ngSubmit)="addloyalitypoints()">
      <div class="col-md-6" hidden>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="id" name="id" formControlName="id" />
          </mat-form-field>
      </div>
   <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter Price"
          name="Enter Price"
          formControlName="price"
        />
      </mat-form-field>
      <div
        class="validation-error"
        *ngIf="
        loyaltyPointsForm.get('price').invalid &&
          (loyaltyPointsForm.get('price').dirty || loyaltyPointsForm.get('price').touched)
        "
      >
        <span
          class="error-message"
          *ngIf="loyaltyPointsForm.get('price').errors.required"
          >This Field Required</span
        >
      </div>
    </div>

    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter Points"
          name="Enter Points"
          formControlName="points"
        />
      </mat-form-field>
      <div
        class="validation-error"
        *ngIf="
        loyaltyPointsForm.get('points').invalid &&
          (loyaltyPointsForm.get('points').dirty || loyaltyPointsForm.get('points').touched)
        "
      >
        <span
          class="error-message"
          *ngIf="loyaltyPointsForm.get('points').errors.required"
          >This Field Required</span
        >
      </div>
    </div>
    
  </div>
      
   
  
          
          <div class="form-inputs">
              <button type="button" class="btn btn-gray">Cancel</button>
              <button type="submit" class="btn btn-orange" [disabled]="loyaltyPointsForm.invalid">
      Submit
    </button>
          </div>
          <div class="clearfix"></div>
  </form>
  </div>