.add-user-wrapper {
    padding: 20px;
}

.student-image {
    width: 160px;
    border: 5px solid #fff;
    height: 170px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    margin-bottom: 40px;
    position: relative;
}

.student-image img {
    width: 100%;
    height: 100%;
}

.delete-img {
    position: absolute;
    background: #fff;
    right: 0;
    top: 0;
    color: #8f8f8f8f;
    cursor: pointer;
}

.period-group-wrapper .inner-form-wrapper {
    border: 1px solid #ddd;
    padding: 25px 0 15px;
}

.period-list:first-child .small-headeing-with-border {
    margin-top: 0;
}

.period-list {
    border: 1px solid #eee;
    margin: 0 15px 25px;
    position: relative;
    padding: 15px 0;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .export-container {
    text-align: right;
    margin-bottom: 20px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }
  