<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Sales Report Management</h4>
    </div>
    
    <!-- <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Retailer</th>
                    <th>Brand</th>
                    <th>Model number</th>
                    <th>Price</th>
                    <th>Purchase Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reportSales of reportSalesList; let i= index">
                    <td>{{reportSales.retailer}}</td>
                    <td>{{reportSales.brand}}</td>
                    <td>{{reportSales.model_number}}</td>
                    <td>{{reportSales.price}}</td>
                    <td>{{reportSales.date_of_purchase}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/sales/editSales/{{sales._id}}"><i class="material-icons">
                            edit
                            </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <div class="example-header col-md-3">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="export-container">
        <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export</button>
      </div>
      
      <div class="example-container mat-elevation-z8">

        
      
        <!-- <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
      
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
            <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="retailer">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Retailer </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.retailer }} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Brand </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.brand}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="modelNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Model Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.model_number}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Price </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.price}} </mat-cell>
          </ng-container>date_of_purchase

          <ng-container matColumnDef="purchaseDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Purchase Date </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.date_of_purchase}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table> -->

        
        <div class="example-container mat-elevation-z8 " #TABLE>
          <table mat-table #table [dataSource]="dataSource" matSort id="ExampleTable">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.No. </th>
              <td mat-cell *matCellDef="let element;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="retailer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Retailer </th>
              <td mat-cell *matCellDef="let element"> {{element.retailer}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="brand">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Brand </th>
              <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="modelNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Model Number </th>
              <td mat-cell *matCellDef="let element"> {{element.model_number}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="purchaseDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Purchase Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date_of_purchase}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div>


      
        <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
</div>