<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Loyalty Points Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/loyalty-points/addloyalitypoints']" class="btn btn-orange">Add Loyalty Points</button>
    </div>
   <!-- <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Points</th>
                    <th>Created at</th>
                    <th>Modified At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loyaltypoints of loyaltypointsList; let i= index">
                    <td>{{loyaltypoints.price}}</td>
                    <td>{{loyaltypoints.points}}</td>
                    <td>{{loyaltypoints.created_at}}</td>
                    <td>{{loyaltypoints.modified_at}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/loyalty-points/editloyalitypoints/{{loyaltypoints._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteLoyaltyPoints(loyaltypoints._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

<div class="example-header col-md-3">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
 <!-- <div class="export-container">
    <button mat-raised-button color="primary" (click)="exportTable()">Export</button>
  </div>-->
  
  <div class="example-container mat-elevation-z8">

    
  
    <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
  
      <!-- ID Column -->
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
        <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.price }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Points </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.points }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Created at </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.created_at }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modified_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Modified at </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.modified_at }} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Action </mat-header-cell>
        <mat-cell *matCellDef="let row;let i= index" [style.color]="row.color"> 
            <div class="table-actions">
                <span class="action-icons" routerLink="/loyalty-points/editloyalitypoints/{{row._id}}">
                    <i class="material-icons">
                         edit
                    </i>
                </span>
                <span class="action-icons" (click)="deleteLoyaltyPoints(row._id,i)">
                    <i class="material-icons">
                         delete
                    </i>
                </span>
            </div> 
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>