<div class="add-user-wrapper">
    <form [formGroup]="serviceCenterForm" (ngSubmit)="addServiceCenter()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" name="First Name" formControlName="firstName" />
                </mat-form-field>
                <div class="validation-error" *ngIf="
            serviceCenterForm.get('firstName').invalid &&
            (serviceCenterForm.get('firstName').dirty ||
              serviceCenterForm.get('firstName').touched)
          ">
                    <span class="error-message" *ngIf="serviceCenterForm.get('firstName').errors.required">This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Last Name"
            name="Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            serviceCenterForm.get('lastName').invalid &&
            (serviceCenterForm.get('lastName').dirty || serviceCenterForm.get('lastName').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="serviceCenterForm.get('lastName').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            name="Email"
            formControlName="email"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            serviceCenterForm.get('email').invalid &&
            (serviceCenterForm.get('email').dirty || serviceCenterForm.get('email').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="serviceCenterForm.get('email').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Login"
            name="login"
            formControlName="login"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            serviceCenterForm.get('login').invalid &&
            (serviceCenterForm.get('login').dirty || serviceCenterForm.get('login').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="serviceCenterForm.get('login').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
	      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            name="Password"
            formControlName="password"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            serviceCenterForm.get('password').invalid &&
            (serviceCenterForm.get('password').dirty || serviceCenterForm.get('password').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="serviceCenterForm.get('password').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	    <div class="col-md-6">
        <mat-form-field>
          <mat-label>Brands</mat-label>
          <mat-select formControlName="brands">
           <mat-option *ngFor="let brand of brands; let i = index" [value]="brands[i].brand">
              {{brands[i].brand}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            serviceCenterForm.get('brands').invalid &&
            (serviceCenterForm.get('brands').dirty || serviceCenterForm.get('brands').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="serviceCenterForm.get('brands').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
     
            </div>
	

	<div class="row">
	 <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
  </div>
    <div class="upload-image">
                <div class="student-image" *ngIf="userImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="userImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
  <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
  <div class="clearfix"></div>
          
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="serviceCenterForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>