<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Product Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/product/addproduct']" class="btn btn-orange">Add Product</button>
    </div>
   <!-- <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Brand</th>
                    <th>Model number</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsList; let i= index">
                    <td>{{product.model}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.model_number}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/product/editProduct/{{product._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteProduct(product._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <div class="example-header col-md-3">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
     <!-- <div class="export-container">
        <button mat-raised-button color="primary" (click)="exportTable()">Export</button>
      </div>-->
      
      <div class="example-container mat-elevation-z8">

        
      
        <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
      
          <!-- ID Column -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
            <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Model name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.model }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Brand </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.brand }} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="model_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Model number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.model_number }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Price </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.price }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Action </mat-header-cell>
            <mat-cell *matCellDef="let row;let i= index" [style.color]="row.color"> 
                <div class="table-actions">
                    <span class="action-icons" routerLink="/product/editProduct/{{row._id}}">
                        <i class="material-icons">
                             edit
                        </i>
                    </span>
                    <span class="action-icons" (click)="deleteProduct(row._id,i)">
                        <i class="material-icons">
                             delete
                        </i>
                    </span>
                </div> 
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
</div>