<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Brand service center</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/service-center/addServiceCenter']" class="btn btn-orange">Add brand service center</button>
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>First name</th>
					<th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let brandServiceCenter of serviceCenters; let i= index">
                    <td>{{brandServiceCenter.firstName}}</td>
					<td>{{brandServiceCenter.email}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/service-center/editServiceCenter/{{brandServiceCenter._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteServiceCenter(brandServiceCenter._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>