<div class="add-user-wrapper">
    <form [formGroup]="warrantyRequestForm" (ngSubmit)="addWarrantyRequest()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Warranty Request Id" name="Warranty Request Id" formControlName="warrantyRequestId" />
                </mat-form-field>
                <div class="validation-error" *ngIf="
            warrantyRequestForm.get('warrantyRequestId').invalid &&
            (warrantyRequestForm.get('warrantyRequestId').dirty ||
              warrantyRequestForm.get('warrantyRequestId').touched)
          ">
                <span class="error-message" *ngIf="warrantyRequestForm.get('warrantyRequestId').errors.required">This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Sales Id"
            name="Sales Id"
            formControlName="salesId"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            warrantyRequestForm.get('salesId').invalid &&
            (warrantyRequestForm.get('salesId').dirty || warrantyRequestForm.get('salesId').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="warrantyRequestForm.get('salesId').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Customer Id"
            name="Customer Id"
            formControlName="customerId"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            warrantyRequestForm.get('customerId').invalid &&
            (warrantyRequestForm.get('customerId').dirty || warrantyRequestForm.get('customerId').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="warrantyRequestForm.get('customerId').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Contact Time"
            name="Contact Time"
            formControlName="contactTime"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            warrantyRequestForm.get('contactTime').invalid &&
            (warrantyRequestForm.get('contactTime').dirty || warrantyRequestForm.get('contactTime').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="warrantyRequestForm.get('contactTime').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

   
	
  <div class="clearfix"></div>
            
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="warrantyRequestForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>