<div class="add-user-wrapper">
    <form [formGroup]="offersForm" (ngSubmit)="addOffers()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">

    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Product"
            name="Product"
            formControlName="product"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            offersForm.get('product').invalid &&
            (offersForm.get('product').dirty || offersForm.get('product').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="offersForm.get('product').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Product description"
            name="Product description"
            formControlName="productDescription"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            offersForm.get('productDescription').invalid &&
            (offersForm.get('productDescription').dirty || offersForm.get('productDescription').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="offersForm.get('productDescription').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Actual price"
            name="Actual price"
            formControlName="actualPrice"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            offersForm.get('actualPrice').invalid &&
            (offersForm.get('actualPrice').dirty || offersForm.get('actualPrice').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="offersForm.get('actualPrice').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Discount price"
            name="Discount price"
            formControlName="discountPrice"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            offersForm.get('discountPrice').invalid &&
            (offersForm.get('discountPrice').dirty || offersForm.get('discountPrice').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="offersForm.get('discountPrice').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>


    <div class="row">
      
      <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
            </div>
            <div class="upload-image">
                <div class="student-image" *ngIf="brandImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="brandImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="offersForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>