<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>User Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/user-management/adduser']" class="btn btn-orange">Add User</button>
    </div>
    <!-- <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList; let i= index">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/user-management/editUser/{{user._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteUser(user._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <div class="example-header col-md-3">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">

        
      
        <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
      
          <!-- ID Column -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
            <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> First name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.firstName }} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Last name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Roles </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.roles}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Action </mat-header-cell>
            <mat-cell *matCellDef="let row;let i= index" [style.color]="row.color"> <div class="table-actions"><span class="action-icons" routerLink="/user-management/editUser/{{row._id}}"><i class="material-icons">
              edit
              </i></span><span class="action-icons" (click)="deleteUser(row._id,i)"><i class="material-icons">
                      delete
                      </i></span></div> </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>


</div>