<div class="header">
    <div class="logo-part" routerLink="/">
        <img src="../../../assets/img/logo.png">
    </div>
    <div class="user-setting-serction">
        <div class="user-name" (click)="showMenu()">{{userData.firstName ? userData.firstName : ''}}<span class="arrow-down"></span></div>
        <div class="drop-downlist" *ngIf="showUsermenu">
            <div class="user-detail-block">
                <div class="user-img">
                    {{imageData}}
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="userImg" *ngIf="imageData != ''">
                </div>
                <div class='user-details'>
                    <span class="user-name">{{userData.firstName ? userData.firstName:''}}</span>
                    <span class="user-role">{{userData.login}}</span>
                </div>
            </div>
            <div class="user-menu">
                <span (click)="changepassword()">Change Password</span>
                <span (click)="logout()">Logout</span>
            </div>
        </div>
    </div>
</div>
<div class="body-part">
    <div class="left-sidebar">
        <div class="side-blocks" matTooltip="USER" matTooltipPosition="right" routerLink="/user-management" *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/settings.svg">
        </div>
        <div class="side-blocks" matTooltip="CUSTOMER" matTooltipPosition="right" routerLink="/customer-management" *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/customer.svg">
        </div>
        <div class="side-blocks" matTooltip="RETAILER" matTooltipPosition="right" routerLink="/retailer" *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/shop.svg">
        </div>
        <div class="side-blocks" matTooltip="BRAND" matTooltipPosition="right" routerLink="/brand"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/brand.svg">
        </div>
        <div class="side-blocks" matTooltip="CATEGORY" matTooltipPosition="right" routerLink="/category" *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/product.svg">
        </div>
        <div class="side-blocks" matTooltip="PRODUCT" matTooltipPosition="right" routerLink="/product" *ngIf="isExecutive" routerLinkActive="active-link">
            <img src="../../../assets/img/product.svg">
        </div>
        <div class="side-blocks" matTooltip="EXECUTIVE" matTooltipPosition="right" routerLink="/executive-management" *ngIf="isAdmin"  routerLinkActive="active-link">
            <img src="../../../assets/img/executive.svg">
        </div>
        <div class="side-blocks" matTooltip="BRAND SERVICE CENTRE" matTooltipPosition="right" routerLink="/service-center" *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/brand-service-center.svg">
        </div>
        <div class="side-blocks" matTooltip="SALES" matTooltipPosition="right" routerLink="/sales" *ngIf="isExecutive" routerLinkActive="active-link">
            <img src="../../../assets/img/sales.svg">
        </div>
        <div class="side-blocks" matTooltip="CUSTOMER POINTS" matTooltipPosition="right" routerLink="/customer-points"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/customer-points.svg">
        </div>
        <div class="side-blocks" matTooltip="REPAIR CENTER" matTooltipPosition="right" routerLink="/repair-center"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/repair-center.svg">
        </div>
        <div class="side-blocks" matTooltip="REPAIR REQUESTS" matTooltipPosition="right" routerLink="/repair-requests"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/repair-requests.svg">
        </div>
        <div class="side-blocks" matTooltip="WARRANTY REQUESTS" matTooltipPosition="right" routerLink="/warranty-requests"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/warranty-requests.svg">
        </div>
        <div class="side-blocks" matTooltip="REPORTS" matTooltipPosition="right" routerLink="/reports"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/reports.svg">
        </div>
        <div class="side-blocks" matTooltip="CUSTOMER SUPPORT" matTooltipPosition="right" routerLink="/customer-support"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/customer-support.svg">
        </div>
        <div class="side-blocks" matTooltip="LOYALTY POINTS" matTooltipPosition="right" routerLink="/loyalty-points"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/loyalty-points.svg">
        </div>
        <div class="side-blocks" matTooltip="OFFERS" matTooltipPosition="right" routerLink="/offers" *ngIf="isExecutive" routerLinkActive="active-link">
            <img src="../../../assets/img/offers.svg">
        </div>
        <div class="side-blocks" matTooltip="FAQ" matTooltipPosition="right" routerLink="/faq"  *ngIf="isAdmin" routerLinkActive="active-link">
            <img src="../../../assets/img/faq.svg">
        </div>
    </div>
    <div class="dashboard-wrapper" *ngIf="showDashboard">
        <div class="main-dashboard" >
            <div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" routerLink="/user-management">
                        <div class="info-box mat-elevation-z8">
                            <span class="info-box-icon bg-aqua"><i class="material-icons">
                                settings_applications
                                </i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Retailers</span>
                                <span class="info-box-number">{{totalRetailers}}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box mat-elevation-z8">
                            <span class="info-box-icon bg-red"><i class="material-icons">
                                thumb_up
                                </i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">No Warranty Requests</span>
                                <span class="info-box-number">41</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12" routerLink="/sales">
                        <div class="info-box mat-elevation-z8">
                            <span class="info-box-icon bg-green"><i class="material-icons">
                                shopping_cart
                                </i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Overall Sales</span>
                                <span class="info-box-number">{{totalSales}}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12" routerLink="/customer-management">
                        <div class="info-box mat-elevation-z8">
                            <span class="info-box-icon bg-yellow"><i class="material-icons">
                            supervised_user_circle
                            </i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Users</span>
                                <span class="info-box-number">{{totalCustomers}}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <div class="retailer-dashboard" *ngIf="!isAdmin">Hello {{userData.firstName ? userData.firstName:''}} Welcome to retailer tool goto retailer from left side menu and start</div>
        </div>
        <div class="table-wrapper mat-elevation-z8 ">
            <div class="latest-updatea">Latest Orders</div>
            <table mat-table [dataSource]="dataSource" class="" width="100%">

                <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="orderId">
                    <th mat-header-cell *matHeaderCellDef> Order Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="table-wrapper mat-elevation-z8">
                    <highcharts-chart class="m-t-15"
            [Highcharts] = "highcharts" 
            [options] = "chartOptions" 
            style = "width: 100%; height: 400px; display: block;" *ngIf="showDashboard">
            </highcharts-chart>

            <highcharts-chart class="m-t-15"
            [Highcharts] = "highcharts" 
            [options] = "chartOptions1" 
            style = "width: 100%; height: 400px; display: block;" *ngIf="showDashboard">
            </highcharts-chart>
        </div>
    </div>
    

    <div class="main-wrapper">

        <router-outlet></router-outlet>
    </div>
</div>