<div class="add-user-wrapper">
    <form [formGroup]="executiveForm" (ngSubmit)="addExecutive()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" name="First Name" formControlName="firstName" />
                </mat-form-field>
                <div class="validation-error" *ngIf="
            executiveForm.get('firstName').invalid &&
            (executiveForm.get('firstName').dirty ||
              executiveForm.get('firstName').touched)
          ">
                    <span class="error-message" *ngIf="executiveForm.get('firstName').errors.required">This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Last Name"
            name="Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            executiveForm.get('lastName').invalid &&
            (executiveForm.get('lastName').dirty || executiveForm.get('lastName').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="executiveForm.get('lastName').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            name="Email"
            formControlName="email"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            executiveForm.get('email').invalid &&
            (executiveForm.get('email').dirty || executiveForm.get('email').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="executiveForm.get('email').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	        <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <textarea
            matInput
            placeholder="Address"
            name="Address"
            formControlName="address"
          ></textarea>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            executiveForm.get('address').invalid &&
            (executiveForm.get('address').dirty || executiveForm.get('address').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="executiveForm.get('address').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
  
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Retailer</mat-label>
          <mat-select formControlName="retailers">
            <mat-option *ngFor="let retail of retailers; let i = index" [value]="retailers[i].firstName">
              {{retailers[i].firstName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            executiveForm.get('retailers').invalid &&
            (executiveForm.get('retailers').dirty || executiveForm.get('retailers').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="executiveForm.get('retailers').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            name="Password"
            formControlName="password"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            executiveForm.get('password').invalid &&
            (executiveForm.get('password').dirty || executiveForm.get('password').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="executiveForm.get('password').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
     
            </div>

	<div class="row">
	 <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
	</div>
            <div class="upload-image">
                <div class="student-image" *ngIf="userImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="userImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="executiveForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>