<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Sales Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/sales/addsales']" class="btn btn-orange">Add sales</button>
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Brand</th>
                    <th>Model number</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sales of salesList; let i= index">
                    <td>{{sales.model}}</td>
                    <td>{{sales.brand}}</td>
                    <td>{{sales.model_number}}</td>
                    <td>{{sales.price}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/sales/editSales/{{sales._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteSales(sales._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>