<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Executive Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/executive-management/addexecutive']" class="btn btn-orange">Add Executive</button>
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Retailer</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let executive of executivesList; let i= index">
                    <td>{{executive.firstName}}</td>
                    <td>{{executive.lastName}}</td>
                    <td>{{executive.retailers}}</td>
                    <td>{{executive.roles}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/executive-management/editExecutive/{{executive._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteExecutive(executive._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>