<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Warranty Requests Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/warranty-requests/addwarrantyrequests']" class="btn btn-orange">Add Request</button>
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Warranty Request Id</th>
                    <th>Sales Id</th>
                    <th>Customer Id</th>
                    <th>Contact Time</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let warrantyRequest of warrantyRequestsList; let i= index">
                    <td>{{warrantyRequest.warrantyRequestId}}</td>
                    <td>{{warrantyRequest.salesId}}</td>
                    <td>{{warrantyRequest.customerId}}</td>
                    <td>{{warrantyRequest.contactTime}}</td>
                    <td>{{warrantyRequest.createdAt}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/user-management/editWarrantyRequest/{{warrantyRequest._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteWarrantyRequest(warrantyRequest._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>