<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Faq Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/faq/addFaq']" class="btn btn-orange">Add faq</button>
    </div>
   <!-- <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let faq of faqList; let i= index">
                    <td>{{faq.brand}}</td>
                    <td>{{faq.question}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/faq/editFaq/{{faq._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteFaq(faq._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

<div class="example-header col-md-3">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
 <!-- <div class="export-container">
    <button mat-raised-button color="primary" (click)="exportTable()">Export</button>
  </div>-->
  
  <div class="example-container mat-elevation-z8">

    
  
    <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
  
      <!-- ID Column -->
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
        <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Brand </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.brand }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Question </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.question }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Action </mat-header-cell>
        <mat-cell *matCellDef="let row;let i= index" [style.color]="row.color"> 
            <div class="table-actions">
                <span class="action-icons" routerLink="/faq/editFaq/{{row._id}}">
                    <i class="material-icons">
                         edit
                    </i>
                </span>
                <span class="action-icons" (click)="deleteFaq(row._id,i)">
                    <i class="material-icons">
                         delete
                    </i>
                </span>
            </div> 
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>