<div class="login-wrapper">
    <div class="login-container">

        <div class="login-logo">
            <img src="../../../assets/img/logo.png">
        </div>
        <div class="inner-wrapper">

            <h6>Login</h6>
            <div class="login-error" *ngIf="isAuthError">
                Invalid Email or Password
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" name="Email" formControlName="email" />
                        </mat-form-field>
                        <div class="validation-error" *ngIf="
                    loginForm.get('email').invalid &&
                    (loginForm.get('email').dirty ||
                      loginForm.get('email').touched)
                  ">
                            <span class="error-message" *ngIf="loginForm.get('email').errors.required">This Field Required</span
                  >
                </div>
              </div>
              <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Password" name="Last Name" formControlName="password" />
                    </mat-form-field>
                    <div class="validation-error" *ngIf="
                loginForm.get('password').invalid &&
                (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)
              ">
                        <span class="error-message" *ngIf="loginForm.get('password').errors.required">This Field Required</span
              >
            </div>
          </div>
            </div>
        <button type="submit" class="btn btn-orange">Login</button>
        <div class="clearfix"></div>
    </form>
    </div>
</div></div>