<div class="add-user-wrapper">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
		 <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Model name"
            name="Model name"
            formControlName="model"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('model').invalid &&
            (productForm.get('model').dirty || productForm.get('model').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('model').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Model number"
            name="Model number"
            formControlName="model_number"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('model_number').invalid &&
            (productForm.get('model_number').dirty || productForm.get('model_number').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('model_number').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      
    </div>
        <div class="row">
      <!-- <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Brand Name"
            name="Brand Name"
            formControlName="brand"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('brand').invalid &&
            (productForm.get('brand').dirty || productForm.get('brand').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('brand').errors.required"
            >This Field Required</span
          >
        </div>
      </div> -->
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Brands</mat-label>
          <mat-select formControlName="brand">
           <mat-option *ngFor="let brands of brand; let i = index" [value]="brand[i].brand">
              {{brand[i].brand}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
          productForm.get('brand').invalid &&
            (productForm.get('brand').dirty || productForm.get('brand').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('brand').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
           <mat-option *ngFor="let categories of category; let i = index" [value]="category[i].category">
              {{category[i].category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
          productForm.get('category').invalid &&
            (productForm.get('category').dirty || productForm.get('category').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('category').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
         <div class="row">
            <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Date of purchase"
            name="Date of purchase"
            formControlName="date_of_purchase"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('date_of_purchase').invalid &&
            (productForm.get('date_of_purchase').dirty || productForm.get('date_of_purchase').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('date_of_purchase').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Period of warranty</mat-label>
          <mat-select formControlName="period_of_warranty">
            <mat-option value="6 months">
              6 months
            </mat-option>
            <mat-option value="1 Year">
              1 Year
            </mat-option>
			 <mat-option value="2 Years">
              2 Years
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('period_of_warranty').invalid &&
            (productForm.get('period_of_warranty').dirty || productForm.get('period_of_warranty').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('period_of_warranty').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
	    <div class="row">
            <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Retailer product ID"
            name="Retailer product ID"
            formControlName="retailer_product_id"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('retailer_product_id').invalid &&
            (productForm.get('retailer_product_id').dirty || productForm.get('retailer_product_id').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('retailer_product_id').errors.required"
            >This Field Required</span
          >
        </div>
		</div>
   <div class="col-md-6">
        <mat-form-field>
          <mat-label>Product type</mat-label>
          <mat-select formControlName="product_type">
            <mat-option value="Air Conditioner">
              Air Conditioner
            </mat-option>
            <mat-option value="Television">
              Television
            </mat-option>
			 <mat-option value="Refridgerator">
              Refridgerator
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('product_type').invalid &&
            (productForm.get('product_type').dirty || productForm.get('product_type').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('product_type').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
	    <div class="row">
            <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Serial number"
            name="Serial number"
            formControlName="serial_number"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('serial_number').invalid &&
            (productForm.get('serial_number').dirty || productForm.get('serial_number').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('serial_number').errors.required"
            >This Field Required</span
          >
        </div>
		</div>
           <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="IMEI"
            name="IMEI"
            formControlName="IMEI"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('IMEI').invalid &&
            (productForm.get('IMEI').dirty || productForm.get('IMEI').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('IMEI').errors.required"
            >This Field Required</span
          >
        </div>
		</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Price"
            name="Price"
            formControlName="price"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            productForm.get('price').invalid &&
            (productForm.get('price').dirty || productForm.get('price').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="productForm.get('price').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      </div>
    <div class="row">
      
      <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
            </div>
            <div class="upload-image">
                <div class="student-image" *ngIf="userImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="userImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="productForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>