<div class="add-user-wrapper">
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Category Name"
            name="Category Name"
            formControlName="category"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
          categoryForm.get('category').invalid &&
            (categoryForm.get('category').dirty || categoryForm.get('category').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="categoryForm.get('category').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>



    <div class="row">
      
      <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
            </div>
            <div class="upload-image">
                <div class="student-image" *ngIf="brandImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="brandImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="categoryForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>