<div class="add-user-wrapper">
    <form [formGroup]="faqForm" (ngSubmit)="addfaq()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Brand Name"
            name="Brand Name"
            formControlName="brand"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            faqForm.get('brand').invalid &&
            (faqForm.get('brand').dirty || faqForm.get('brand').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="faqForm.get('brand').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Question"
            name="Question"
            formControlName="question"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            faqForm.get('question').invalid &&
            (faqForm.get('question').dirty || faqForm.get('question').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="faqForm.get('question').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Answer"
            name="Answer"
            formControlName="answer"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            faqForm.get('answer').invalid &&
            (faqForm.get('answer').dirty || faqForm.get('answer').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="faqForm.get('answer').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    


    
            
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="faqForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>