<div class="user-management-wrapper">
    <div class="panel-heading">
        <h4>Offers Management</h4>
    </div>
    <div class="add-button">
        <button type="button" [routerLink]="['/offers/addOffers']" class="btn btn-orange">Add offers</button>
    </div>
    <!--<div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
					<th>Product description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offers of offersList; let i= index">
                    <td>{{offers.product}}</td>
					 <td>{{offers.productDescription}}</td>
                    <td>
                        <div class="table-actions"><span class="action-icons" routerLink="/offers/editOffers/{{offers._id}}"><i class="material-icons">
                            edit
                            </i></span><span class="action-icons" (click)="deleteOffers(offers._id,i)"><i class="material-icons">
                                    delete
                                    </i></span></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
<div class="example-header col-md-3">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
 <!-- <div class="export-container">
    <button mat-raised-button color="primary" (click)="exportTable()">Export</button>
  </div>-->
  
  <div class="example-container mat-elevation-z8">

    
  
    <mat-table [dataSource]="dataSource" matSort id="ExampleTable">
  
      <!-- ID Column -->
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> S.NO </mat-header-cell>
        <mat-cell *matCellDef="let rowl;let i= index"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Product </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.product }} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="productDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Product Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.productDescription }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="data-head"> Action </mat-header-cell>
        <mat-cell *matCellDef="let row;let i= index" [style.color]="row.color"> 
            <div class="table-actions">
                <span class="action-icons" routerLink="/offers/editOffers/{{row._id}}">
                    <i class="material-icons">
                         edit
                    </i>
                </span>
                <span class="action-icons" (click)="deleteOffers(row._id,i)">
                    <i class="material-icons">
                         delete
                    </i>
                </span>
            </div> 
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>