// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

/* You can add global styles to this file, and also import other style files */

.add-button {
    padding: 15px;
    overflow: hidden;
    float: right;
}

.panel-heading {
    float: left;
    padding: 15px;
}

.login-wrapper {
    padding-top: 60px;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    box-shadow: 1px 1px 29px 21px rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.login-wrapper {
    background: url("./assets/img/bg.jpg");
    padding-top: 60px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-wrapper:after {
    background: rgba(0, 0, 0, 0.75);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.login-logo {
    width: 100%;
}

.login-logo img {
    width: 100%;
}

.inner-wrapper {
    padding: 20px;
}

.header {
    box-shadow: 0px 3px 20px 8px #eee;
    background: #fff;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.drop-downlist span {
    display: block;
    cursor: pointer;
}

.drop-downlist .user-menu span {
    display: block;
    cursor: pointer;
    margin: 0 -10px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.arrow-down {
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #8d8d8d;
    position: absolute;
    right: 40px;
    top: 30px;
}

.logo-part {
    width: 130px;
    float: left;
}

.login-error {
    border: 1px solid red;
    color: red;
    padding: 10px;
    margin-bottom: 10px;
}

.retailer-wrapper {
    padding: 20px;
    text-align: center;
}

.drop-downlist {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 10px 1px #ddd;
    width: 200px;
    padding: 10px 10px 0;
    top: 60px;
    border-radius: 3px;
    right: 30px;
}

.user-menu {
    margin: 10px -10px 0;
    padding: 0 10px;
    border-top: 1px solid #ddd;
    font-size: 13px;
}

.user-name {
    text-align: center;
    cursor: pointer;
}

.user-img img {
    width: 120px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
    height: 120px;
}

.user-setting-serction {
    float: right;
    padding: 20px 60px 20px 20px;
}

.logo-part img {
    width: 100%;
}

body {
    background: #eaeaea !important;
}

.left-sidebar {
    background: #fff;
    position: fixed;
    height: 90vh;
    width: 70px;
    top: 69px;
    float: left;
    border-right: 1px solid #eee;
    overflow-x: hidden;
}

.main-wrapper {
    margin-left: 90px;
    background: #fff;
    margin-top: 90px;
    padding: 0px;
    margin-right: 20px;
}

.side-blocks img {
    width: 30px;
    margin-top: 17px;
}

.side-blocks {
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #eee;
    position: relative;
    border-right: 3px solid transparent;
}

.side-blocks.active-link:after {
    border-left: 5px solid #fe593d;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
    position: absolute;
    right: -8px;
    top: 23px;
}

.side-blocks:focus {
    outline: none;
}

.side-blocks.active-link {
    border-right: 3px solid #fe593d;
}

.btn.btn-orange {
    background: #fe593d !important;
    color: #fff;
    float: right;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 8px 10px;
    font-size: 14px;
}

thead {
    background: #fe593d;
    color: #fff;
}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
}

.error-message.ng-star-inserted {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: red;
}

.btn.btn-gray {
    background: #8d8d8d;
    color: #fff;
    margin-right: 18px;
}

.form-inputs {
    float: right;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.retailer-dashboard {
    background: #fff;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}

.latest-updatea {
    background: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 3px solid #fe593d;
    margin-top: 10px;
}

span.info-box-icon {
    background: #fe593d;
    color: #fff;
    display: block;
    width: 90px;
    text-align: center;
    height: 90px;
    float: left;
    font-size: 42px;
}

.info-box .material-icons {
    font-size: 42px;
    text-align: center;
    margin: 22px auto 0;
}

.dashboard-wrapper {
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-box-text {
    display: block;
    color: #8d8d8d;
    font-size: 18px;
}

.info-box-number {
    font-size: 14px;
    color: #8f8f8f;
}

.table-actions {
    text-align: right;
}

.action-icons {
    cursor: pointer;
    padding: 0 0px;
    margin-left: 5px;
}

.table-actions .material-icons {
    font-size: 17px;
    color: #8f8f8f;
}
.m-t-15 {
    margin-top: 15px;
}

.data-head {
    background: #fe593d;
    color: #fff;
}