<div class="add-user-wrapper">
    <form [formGroup]="brandForm" (ngSubmit)="addBrand()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Brand Name"
            name="Brand Name"
            formControlName="brand"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('brand').invalid &&
            (brandForm.get('brand').dirty || brandForm.get('brand').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('brand').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Help Desk Email"
            name="Help Desk Email"
            formControlName="email"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('email').invalid &&
            (brandForm.get('email').dirty || brandForm.get('email').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('email').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Mobile Number"
            name="Mobile Number"
            formControlName="mobile"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('mobile').invalid &&
            (brandForm.get('mobile').dirty || brandForm.get('mobile').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('mobile').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Average Warranty Claim Time"
            name="Average Warranty Claim Time"
            formControlName="warrantyTime"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('warrantyTime').invalid &&
            (brandForm.get('warrantyTime').dirty || brandForm.get('warrantyTime').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('warrantyTime').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Customer Assistance"
            name="Customer Assistance"
            formControlName="customerAssistance"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('customerAssistance').invalid &&
            (brandForm.get('customerAssistance').dirty || brandForm.get('customerAssistance').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('customerAssistance').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>


    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Warranty Support"
            name="Warranty Support"
            formControlName="warrantySupport"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('warrantySupport').invalid &&
            (brandForm.get('warrantySupport').dirty || brandForm.get('warrantySupport').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('warrantySupport').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Number Of Locations"
            name="Number Of Locations"
            formControlName="locations"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('locations').invalid &&
            (brandForm.get('locations').dirty || brandForm.get('locations').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('locations').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
            
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Rating"
            name="Rating"
            formControlName="rating"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            brandForm.get('rating').invalid &&
            (brandForm.get('rating').dirty || brandForm.get('rating').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="brandForm.get('rating').errors.required"
            >This Field Required</span
          >
        </div>
      </div>

      
    </div>


    <div class="row">
      
      <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
            </div>
            <div class="upload-image">
                <div class="student-image" *ngIf="brandImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="brandImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="brandForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>