<div class="add-user-wrapper">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <div class="col-md-6" hidden>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="id" name="id" formControlName="id" />
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" name="First Name" formControlName="firstName" />
                </mat-form-field>
                <div class="validation-error" *ngIf="
            userForm.get('firstName').invalid &&
            (userForm.get('firstName').dirty ||
              userForm.get('firstName').touched)
          ">
                    <span class="error-message" *ngIf="userForm.get('firstName').errors.required">This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Last Name"
            name="Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('lastName').invalid &&
            (userForm.get('lastName').dirty || userForm.get('lastName').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('lastName').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            name="Email"
            formControlName="email"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('email').invalid &&
            (userForm.get('email').dirty || userForm.get('email').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('email').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Login"
            name="login"
            formControlName="login"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('login').invalid &&
            (userForm.get('login').dirty || userForm.get('login').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('login').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Roles</mat-label>
          <mat-select formControlName="roles" multiple>
            <mat-option value="admin">
              Admin
            </mat-option>
            <mat-option value="retailer">
              Retailer
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('roles').invalid &&
            (userForm.get('roles').dirty || userForm.get('roles').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('roles').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            name="Password"
            formControlName="password"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('password').invalid &&
            (userForm.get('password').dirty || userForm.get('password').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('password').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
     
            </div>
	<div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Lattitude"
            name="Lattitude"
            formControlName="lattitude"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('lattitude').invalid &&
            (userForm.get('lattitude').dirty || userForm.get('lattitude').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('lattitude').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	    <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Longitude"
            name="Longitude"
            formControlName="longitude"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('longitude').invalid &&
            (userForm.get('longitude').dirty || userForm.get('longitude').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('longitude').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
	<div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Additional one"
            name="Additional one"
            formControlName="additional_one"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('additional_one').invalid &&
            (userForm.get('additional_one').dirty || userForm.get('additional_one').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('additional_one').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	    <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Additional two"
            name="Additional two"
            formControlName="additional_two"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('additional_two').invalid &&
            (userForm.get('additional_two').dirty || userForm.get('additional_two').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('additional_two').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
	<div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Additional three"
            name="Additional three"
            formControlName="additional_three"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('additional_three').invalid &&
            (userForm.get('additional_three').dirty || userForm.get('additional_three').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('additional_three').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
	    <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Additional four"
            name="Additional four"
            formControlName="additional_four"
          />
        </mat-form-field>
        <div
          class="validation-error"
          *ngIf="
            userForm.get('additional_four').invalid &&
            (userForm.get('additional_four').dirty || userForm.get('additional_four').touched)
          "
        >
          <span
            class="error-message"
            *ngIf="userForm.get('additional_four').errors.required"
            >This Field Required</span
          >
        </div>
      </div>
    </div>
	<div class="row">
	 <div class="col-md-6">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          <span>Upload Image</span>
                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Point per Amount"
          name="pointPerAmount"
          formControlName="pointPerAmount"
        />
      </mat-form-field>
      <div
        class="validation-error"
        *ngIf="
          userForm.get('pointPerAmount').invalid &&
          (userForm.get('pointPerAmount').dirty || userForm.get('pointPerAmount').touched)
        "
      >
        <span
          class="error-message"
          *ngIf="userForm.get('pointPerAmount').errors.required"
          >This Field Required</span
        >
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
            <div class="upload-image">
                <div class="student-image" *ngIf="userImg">
                    <img src="../../../assets/img/user.svg" *ngIf="imageData == ''">
                    <img [src]="userImg" *ngIf="imageData != ''">
                    <span class="delete-img"><i class="material-icons" (click)="deleteImg()">
            delete
          </i>
        </span>
                </div>
            </div>
            <div class="form-inputs">
                <button type="button" class="btn btn-gray">Cancel</button>
                <button type="submit" class="btn btn-orange" [disabled]="userForm.invalid">
        Submit
      </button>
            </div>
            <div class="clearfix"></div>
    </form>
    </div>